.sidebar-wrapper {
  height: 100%;
  width: 19vw;
  max-width: 400px;
  padding-top: 45px;
  color: #ffffff;
  background-color: #303e4d;
  border: solid #4a5664 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.outletWrapper {
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 40px;
}

.channel-list-item {
  display: flex;
  cursor: pointer;
}
.channel-list-item-icon {
  height: "1em";
  width: "1em";
}
.channel-user-custom-dropdown {
  position: absolute;
  width: 100%;
  max-height: 200px;
  top: 0;
  z-index: 100;
  border: 1px solid;
  overflow-y: hidden;
  background-color: white;
  border-color: rgba(219, 211, 215, 0.8);
}
.channel-user-add-user {
  opacity: 1;
  cursor: pointer;
}
.channel-user-add-user:hover {
  opacity: 0.7;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-content {
  width: 500px;
  border-radius: 5px;
  background-color: #fff;
  transform: translateY(-800px);
  transition: all 0.3 ease-in-out;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.messageScreen {
  overflow: hidden;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* width */
  /* Handle */
  /* Handle on hover */
}
.messageScreen::-webkit-scrollbar {
  width: 8px;
}
.messageScreen::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.messageScreen::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.messageScreen:hover {
  overflow: auto;
}

.messageContainer {
  display: flex;
  height: fit-content;
  min-height: 50px;
}
.messageContainer p {
  margin: 0;
}
.messageContainer:hover {
  background-color: #d0d6dd;
}

.recentMessages {
  height: 35px;
  display: flex;
  align-items: center;
  width: calc(19vw - 1px);
  max-width: 400px;
  margin-left: -1rem;
  padding: 0.25rem 2rem;
  color: #d9d9d9;
  text-decoration: none;
}
.recentMessages:hover {
  background-color: #4a5664;
}

.activeMsg {
  color: #ffffff;
  background-color: #6698c8;
}
.activeMsg:hover {
  background-color: #6698c8;
}

.directMsgBtn {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 0.5rem;
}
.directMsgBtn .addUserButton {
  opacity: 0;
  padding: 2px;
}
.directMsgBtn .addUserButton:hover {
  background-color: #4a5664;
  border-radius: 4px;
}
.directMsgBtn:hover .addUserButton {
  opacity: 1;
}

.iconDM {
  width: 25px;
  height: 25px;
  line-height: 24px;
  margin: 0;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #78af8f;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.messageHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  padding-left: 1rem;
  border-bottom: solid 1px #b3bcc7;
}
.messageHeader h3 {
  padding-left: 5px;
}

.messageDisplay {
  width: 100%;
  height: 93%;
  padding: 1rem;
}

#date {
  margin-left: 8px;
  color: #949494;
  font-size: 14px;
}

.inputWrapper {
  display: flex;
  width: 100%;
  height: 8%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: solid 1px #303e4d;
  border-radius: 4px;
}
.inputWrapper input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 20px;
}
.inputWrapper button {
  width: 40px;
  background: transparent;
  border: 0;
}
.inputWrapper button img {
  width: 100%;
}
.inputWrapper button img:hover {
  cursor: pointer;
}

.icon {
  width: 45px;
  height: 45px;
  line-height: 42px;
  margin: 0;
  border-radius: 4px;
  background-color: #78af8f;
  color: white;
  font-size: 34px;
  font-weight: bolder;
  text-align: center;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #303e4d;
  color: #ffffff;
  border-bottom: solid #4a5664 2px;
  width: 100%;
  height: 40px;
  text-align: center;
}
.Header h1 {
  padding: 0;
  margin: 0;
}

.collapsibleWrapper {
  display: flex;
  align-items: center;
  width: 90%;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
}
.collapsibleWrapper:hover {
  cursor: pointer;
}
.collapsibleWrapper div {
  border-radius: 4px;
  padding: 2px;
}
.collapsibleWrapper div:hover {
  background-color: #4a5664;
}
.collapsibleWrapper h3 {
  margin-left: 2px;
}

.collapsibleContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/*# sourceMappingURL=App.css.map */
