$primary-color: #303e4d;
$secondary-color: #6698c8;
$tertiary-color: #2c3849;
$hover-color: #4a5664;
$alternate-color: #94e864;
$alternate-color2: #78af8f;
$font-color: #ffffff;
$font-size: 24px;
