body,html{
    margin: 0;
    padding: 0;
}
/* header styling  */
.pageHeader{
    margin: 2% auto;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
};
.centerCol{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightCol{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 13px;
    padding-right: 40px;
}
.rightCol .create{
   color: #483D8B;
   cursor: pointer;
}
.rightCol .create:hover{
    text-decoration: underline;
}

/* body styling  */
button{
    width: 100%;
    margin-top: 10px;
    padding:10px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 3px;
}
.login-main{
    display: flex;
    justify-content: center;
}
.login-board{
 
    height: 100vh;
    width: 295px;
}
.login-board .logo img{
    height: 32px;
}
.heading{
    font-size: 2rem;
    font-weight: bold;
}
.sub-heading{
    font-size: 12px;
    padding-bottom: 10px;
}
.googlebtn{
    display: flex;
    justify-content: center;
    border: 2px solid #4285f4;
    color: #4285f4;
    cursor: pointer;
}
.googlebtn:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.applebtn{
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
}
.applebtn:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.horizontalContentRule{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.leftLine, .rightLine{
    border: none;
    border-top: 1px solid #ddd;
    flex-grow: 1;
}
.center{
    padding: 0 20px;
    font-size: 12px;
}
.input input{
    width: 100%;
    margin-top:10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}
.input input:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.signBtn{
    margin-top:10px;
    background: #3f0f40;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.signBtn:hover{
    background:#693b58;
   
}
.instruction{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 12px 24px;
    color: darkgrey;
    background-color: whitesmoke;
    border-radius: 8px;
}
.instruction span{
    padding-left: 12px;
    text-align: justify;
    font-size: 14px;
}
.instruction span strong{
    color:#483D8B;
}
.instruction span strong:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* footer styling */
.pageFooter{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 0;
    border: none;
    text-align: center;
   padding-bottom:3rem;
}
.pageFooter a{
    text-decoration: none;
    color: grey;
}
.pageFooter a:hover{
    color: #000;
}
.pageFooterChild{
    display: flex;
    justify-content: center;
    width: 100%;
}
.pageFooterItems{
    margin-right: 10px;
    font-size:12px;
}
.pageFooterItems:hover{
    text-decoration: underline;
}
.regionLabel{
    margin-left: 1px;
}
